<div class="container-fluid">
  <!--Created container first row for add item-->
  <div class="row addcart-container align-items-center">
    <div class="col-sm-4">
      <!--Created Card for adding item-->

      <div class="addcard">
        <mat-card class="mt-4">
          <form [formGroup]="todoForm">
            <mat-form-field class="my-mat-form-field" appearance="outline">
              <mat-label>Task Name</mat-label>
              <input formControlName="item" class="input-holder" matInput placeholder="Placeholder" />
              <mat-hint>Add task name</mat-hint>
            </mat-form-field>
            <button mat-button *ngIf="!isEditEnabled"(click)="addTask()" class="mat-raised-button" [disabled]="todoForm.invalid">Add</button>
            <button mat-button *ngIf="isEditEnabled"(click)="updateTask()" class="mat-raised-button" [disabled]="todoForm.invalid">Update</button>
          </form>
          
        </mat-card>
      </div>
    </div>
  </div>
  <!-- creating containers for list-->
  <div class="col-md-12">
    <div cdkDropListGroup>
      <div class="row">
        <div class="col-md-4 d-flex justify-content-center">
          <!--To do-->
          <div class="example-container">
            <h2>TO DO</h2>
            <div cdkDropList [cdkDropListData]="tasks" class="example-list" (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of tasks let i = index" cdkDrag>
                {{item.description}}
                <div class="box">
                  <button class="delete-button" (click)="deleteTask(i)"><mat-icon>delete</mat-icon></button>
                  <button class="edit-button" (click)="onEdit(item,i)" ><mat-icon>edit</mat-icon></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
          <!--in progres-->
          <div class="example-container">
            <h2>IN PROGRESS</h2>
            <div cdkDropList [cdkDropListData]="inprogress" class="example-list" (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of inprogress; let i = index" cdkDrag>
                {{item.description}}
                <button class="delete-button" (click)="deleteInProgressTask(i)" ><mat-icon>delete</mat-icon></button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
          <!-- done -->
          <div class="example-container">
            <h2>DONE</h2>
            <div cdkDropList [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of done; let i = index" cdkDrag>
                {{item.description}}
                <button class="delete-button" (click)="deleteCopyTask(i)" ><mat-icon>delete</mat-icon></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>