
  <div class="container-fluid">
   <!--  created container first row for add item-->
  <div class="row align-items-center text-center">
    <div class="col-md-12" style="background-color: palevioletred;">
                    Add items
    </div>
  </div>
     <!-- creating containers for list-->
  <div class="row text-center" style="background-color: rgb(129, 150, 215);">
    <div class="col-md-4">
          One of three column1
    </div>
    <div class="col-md-4">
          One of three column2
    </div>
    <div class="col-md-4">
          One of three column3
    </div>
  </div>
</div>




