
.addcard {
    background-color:white; 
    width:17em; 
    height: 13vh;
    margin-bottom: 1.2em;
    margin-left: 5.5em;
    border-radius: 5px;
}

.addcart-container {
    background-color:#2f353a; 
    height:25hv;
}

.box-list {
    background-color:#00b0b9;
}

.input-holder {
    margin-top: 1.2em;
}

.my-mat-form-field {
    width: 80%;
    margin-top: 1em;
    margin-left: 0.5em;
    border-radius: 4%;
    font-size: medium;
}

.mat-raised-button{
  background-color: #00b0b9; 
  color: aliceblue; 
  height: 25px;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  font-size: small;
}

.delete-button {
  color:red;
  border: none;
  background-color: white;
}

.edit-button {
  color: #c8ced3;
  border: none;
  background-color: white;
}

.box {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 10px;
}

.check-button {
    color: #4dbd74;
    border: none;
    background-color: white;
}

.box-header {
  font-size: 13px;
  color: white;
  background-color:#00b0b9;
  text-align: center;
  margin-bottom: 0;
  padding: 5px;
}

.example-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
